<!-- src/app/recommendations/recommendations.component.html -->
<div class="recommendations-container">
  <div class="main-content">
    <div class="recommendations">
      <h3>Recommended for You</h3>
      <div class="row">
        <div class="col-md-4" *ngFor="let product of products; index as idx">
          <div class="card">
            <img class="card-img-top" src="assets/Categorias/4.jpg" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">Product {{ idx + 1 }}</h5>
              <p class="card-text">Code: <span>---</span></p>
              <p class="card-text">Price: <span>---</span></p>
              <button class="btn btn-primary">View More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="user-info">
        <img class="user-image" src="assets/user.jpg" alt="User Image">
        <h3>Welcome User XYZ</h3>
      </div>
      <nav class="nav flex-column">
        <a class="nav-link" href="#">My Purchases</a>
        <a class="nav-link" href="#">Reviews</a>
        <a class="nav-link" href="#">Notifications</a>
        <a class="nav-link" href="#">Settings</a>
      </nav>
    </div>
  </div>
</div>
